{
	"apiVersion" : "1.0.1",
    "defaultMapCenter" : [22, 87],
    "directoryUrl" : "//rawgit.com/fossasia/directory.api.fossasia.net/master/directory.json",
    "tileLayerId" : "freienetzwerke.i2lgkb76"
}